<div class="container">
    <div class="wrapper">
        <div class="sidebar">
            <span class="label">{{settingLabel}}</span>
            <span class="sub-label">{{settingSubLabel}}</span>
        </div>
        <div class="single-setting">

            <span class="setting-label">
                <span class="label">hi</span>
                <span class="sub-label">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, veritatis?</span>
            </span>
            <select>
                <option>On</option>
                <option>Off</option>
            </select>
        </div>
    </div>
  <app-button [label]="'Apply Changes'"></app-button>
</div>
